.banner{
width: 320px;
margin: 0 auto;
background-image: url("../../img/index-background-mobile@1x.jpg");
background-repeat: no-repeat;
min-height: 480px;
}



.banner__heading {
font-size: 36px;
color: #ffffff;
line-height: 36px;
}

.banner__description {
text-transform: uppercase;
color: #ffffff;
}


.banner__logo {

}

.banner__open-form {
	--green-color: #68b738;
	color: #ffffff;
	text-transform: uppercase;
}





