.page-header {
  position: relative;
}

.page-header__wrapper {
  width: 320px;
  margin: 0 auto;
  position: relative;
}

.page-header__logo {
  width: 235px;
  height: 66px;
  margin: 0;
  padding: 0 20px;
  display: block;
  margin-top: 11px;
}

@media (min-width: @tablet-width) {
  .page-header {
    width: 768px;
    margin: 0 auto;
  }
  .page-header__wrapper {
    padding: 0 30px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    width: auto;
    margin-top: 28px;
  }
  .page-header__logo {
    height: 66px;
    width: 190px;
    padding: 3px 0 0;
    margin: 0;
  }
  .page-header__toggle {
    display: none;
  }
  .page-header__logo-image {
    width: 174px;
    margin-top: -3px;
  }
  .page-header__logo-image:focus,
  .page-header__logo-image:hover {
    opacity: 0.7;
  }
  .page-header__logo-image:active {
    opacity: 0.5;
  }
  .page-header__logo {
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width: 1300px;
    margin: 0 auto;
    box-sizing: border-box;
    z-index: 1;
  }
  .page-header__wrapper {
    padding: 0 40px;
    margin-top: 52px;
    margin-bottom: 65px;
    margin-top: 60px;
    width: 1300px;
  }
  .page-header__logo-image {
    width: 200px;
    margin-top: -5px;
  }
  .page-header__logo {
    width: 200px;
    margin: 0;
  }
}