.page-header {

 
}
.page-header__wrapper {
	 width: 320px;
	margin: 0 auto;
}

.page-header__logo {
 height: 67px;
}

@media (min-width: @tablet-width) {

	.page-header {
		

	}
	.page-header__wrapper {
		width: 768px;
		margin: 0 auto;
		display: flex;
	}
	.page-header__logo {
		height: 85px;
		max-width: 174px;
	}
	.page-header__toggle {
		display: none;
	}



}


@media (min-width: @desktop-width) {

.page-header {
	
		

	}
	
.page-header__wrapper {
	padding-left: 110px;
	padding-right: 110px;
	width: 1220px;
	outline: 2px solid;

}


.main-nav__wrapper {
	width: 610px;




}









}



