


.how-it-works {

}


.how-it-works__container{
width: 320px;
margin: 0 auto;
padding-left: 20px;
padding-right: 20px;

}

.how-it-works__heading {
 font-size: 36px;
 line-height: 60px;
 color: @black-color;
}

.how-it-works__function-list {
list-style: none;
min-height: 303px;
}

.how-it-works__feature {
width: 280px;
min-height: 64px;
margin-bottom: 20px;

}

.how-it-works__feature--leaf {
	
}

@media (min-width: @tablet-width) {

.how-it-works__container {
	width: 708px;
 padding: 0 30px;
 margin: 0 auto;

}

.how-it-works__feature {
	width: 354px;
	margin-bottom: 138px;
}

.how-it-works__function-list{
display: flex;
flex-wrap: wrap;
.list-reset
}












}


@media (min-width: @desktop-width) {

.how-it-works__container {
width: 1220px;
margin: 0 auto;
padding-left: 110px;
padding-right: 110px;
}

.how-it-works__function-list{
	display: flex;
	justify-content: space-between;
	padding: 0;



}




.how-it-works__feature{
	width: 245px;
	min-height: 187px;}






}








