.icon {}

.icon__academy {
  font-size: 16px;
  line-height: 16px;
  font-family: Arial, sans-serif;
}

.icon__link {
  position: relative;
  right: 35px;
}

.icon__link svg {
  width: 45px;
  height: 41px;
  fill: @icon-color;
  position: absolute;
  top: -16px;
  left: -1px;
}

.icon__academy:active {
  opacity: 0.3;
}

.icon__link svg:active {
  fill: @green-color;
  opacity: 0.3;
}

.icon__link svg:focus,
.icon__link svg:hover {
  fill: @green-color;
}

.icon__link-1 {
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .icon__academy {
    margin-left: 28px;
  }
  .icon__link svg {
    width: 45px;
    height: 41px;
    fill: #666;
    position: absolute;
    top: -12px;
    left: -1px;
  }
}

@media (min-width: @desktop-width) {
  .icon__academy {
    margin-left: 163px;
    margin-bottom: 14px;
    padding-top: 7px;
    font-family: Arial, sans-serif;
    min-width: 169px;
  }
  .icon__link {
    margin-right: 35px;
  }
  .icon__link svg {
    position: absolute;
    width: 44px;
    height: 43px;
    fill: #666666;
    left: -8px;
    top: -6px;
  }
}