.container {
	width: 320px;
    margin: 0 auto;
}

.container--ident {
    display: flex;
    padding: 30px 20px 25px;
    box-sizing: border-box;
	
} 

.invitation__title {
 text-transform: uppercase;
    font-family: "Oswald Regular","Arial",sans-serif;
    font-size: 16px;
    color: #111;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 0;
    width: 140px;

}

.invitation__text {
	font-family: "Arial",sans-serif;
    font-size: 14px;
    color: #444;
    margin-left: auto;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 0;
    width: 140px;

}

.invitation {
    background-color: @gray-color;
}
