
.item 
{
display: flex;

}

.item__heading {
font-size: 16px;
line-height: 20px;
}

.item__heading-link {
color: var(--black-color);
}

.item__options {
	font-size: 12px;
	line-height: 16px;
}

.item__button {
font-size:16px;
line-height:20px;
text-transform: uppercase;
background-color: var(--green-color);
color: #ffffff;

}