.list__key {
    width: 70px;
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: @text-color;
}

.list__value {
    width: 70px;
    margin: 0;
    padding: 0;
    text-align: right;
    font-family: "Arial", sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: @text-color;
}

@media (min-width: @tablet-width) {
    .list__key {
        font-size: 16px;
        padding: 8px 0 7px;
        width: 125px;
        border-bottom: 1px solid @border-color;
    }
    .list__value {
        font-size: 16px;
        padding: 8px 0 7px;
        width: 125px;
        border-bottom: 1px solid @border-color;
    }
}

@media (min-width: @desktop-width) {
    .list__key {
        width: 85px;
    }
    .list__value {
        width: 85px;
    }
    .item__options {}
    .item__button {
        width: 169px;
    }
}