.show-all__options {
	width: 320px;
	margin: 0 auto;
}

.show-all__button {
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	color: @text-color;
	background-color: @gray-color;
}

.show-all__heading {
	color: @black-color;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
}

.show-all__discribe {
	font-size: 12px;
	line-height: 16px;
}

@media (min-width: @desktop-width) {}