.show-all {
  text-align: center;
  margin: 0;
  box-sizing: border-box;
  border-top: 1px solid @border-color2;
  padding: 0 19px;
}

.show-all__icon {
  margin-bottom: 20px;
  margin-top: 25px;
}

.show-all__options {
  width: 320px;
  margin: 0 auto;
}

.show-all__button {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @text-color;
  background-color: @gray-color;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  display: block;
  color: @text-color;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 24px;
}

.show-all__button:focus,
.show-all__button:hover {
  background-color: @show-all-color;
  outline: none;
}

.show-all__button:active {
  color: rgba(0, 0, 0, 0.3);
}

.show-all__heading {
  color: #111;
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  margin: 0 0 8px;
  font-weight: 400;
}

.show-all__discribe {
  font-size: 12px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  color: @text-color;
  margin: 0 0 20px;
}

.show-all__svg svg {
  width: 32px;
  height: 32px;
  margin-bottom: 20px;
  margin-top: 25px;
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .show-all {
    width: 324px;
    border: 1px solid @border-color2;
    padding-bottom: 40px;
    padding-top: 53px;
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    margin-bottom: 48px;
    align-items: center;
  }
  .show-all__svg svg {
    width: 60px;
    height: 60px;
    margin-top: 0;
    margin-bottom: 48px;
    padding-top: 5px;
    padding-right: 0px;
  }
  .show-all__heading {
    font-size: 20px;
    line-height: 20px;
    width: 135px;
    margin: 0 auto 24px;
    font-weight: 400;
  }
  .show-all__button {
    padding: 10px 0;
    margin-bottom: 0px;
    margin-top: 67px;
    width: 252px;
  }
  .show-all__discribe {
    font-size: 16px;
    line-height: 18px;
    width: 170px;
    margin: 3px 0 20px;
  }
}

@media (min-width: @desktop-width) {
  .show-all {
    width: 245px;
  }
  .show-all__button {
    width: 171px;
  }
}

@media (min-width: @desktop-width) {}