.site-list__item {
	list-style: none;
}

.site-list__item a {
	color: @black-color;
	font-family: "Oswald Medium","Arial",sans-serif;
    font-size: 20px;
    line-height: 20px;
    color: #111;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    display: block;
    width: 100%;
    padding: 22px 0;
    text-align: center;
    border-top: 1px solid #e6e6e6;
}

.site-list {
	.list-reset;
}

.site-list__item {
	.list-reset;
}

.site-list__item--reset {
	.list-reset;
}

@media (min-width: @tablet-width) {
	.site-list__item {
		.list-reset;
	}
	.site-list {
		.list-reset;
		display: flex;
		justify-content: space-between;
		width: 444px;
	}
}

@media (min-width: @desktop-width) {
	.site-list__item {
		.list-reset;
	}
	.site-list {
		.list-reset;
		display: flex;
		justify-content: space-between;
		width: 481px;
	}
}